{% extends "base_template.html" %}

{% block title %}Operacion exitosa{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row containericons textlogin">
        
        <div class="col s10 containericons">
            <div class="">   
                <h1 class="center">¡Operacion registrada!</h1>
                <br>
                <h3 class="center">Su TURNO ha sido procesado con éxito</h3>
                <br>
                <h3 class="center mtop">Selecciona alguna opción del menu superior para continuar </h3>
                <br>
            </div>
        </div>
        
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}